body{
    margin: 0;
    padding: 0;
    background-image: url("../IMAGES/market%20dark%20cover.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* switch buttons style */
.DarkMode, .Default{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 1%;
    height: 2%;
    border-radius: 50%;
    outline: none;
    border: 1px solid #FFF;
    background: #000;
    z-index: 1;
    box-shadow: 1px 1px 3px #fff,
        -1px -1px 3px #fff;
}
.Default{
    left: 4%;
    background: #fff;
    border: 1px solid #000;
    z-index: 2;
}
/* header & nav bar style */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #0b0b0b;
    box-shadow: 0 1px 5px #fff;
}
header h1{
    width: 40%;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #fff;
}
header nav{
    width: 40%;
    margin-right: 5%;
    margin-top: 1.2%;
    white-space: nowrap;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav ul i{
    margin-right: 5px;
}
header nav ul a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}
.current,header nav ul a:hover{
    background: #e5e2db;
    color: #171b26;
}
/* nav bar rsponsive */
@media (max-width: 1200px){
    header{
        display: block;
        padding: 10px;
    }
    header h1{
        width: 100%;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 10px #fff;
    }
    header nav{
        width: 100%;
        margin-top: 1.2%;
        white-space: nowrap;
    }
}
/* specials style */
.specials{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.specials div{
    width: 25%;
    height: 548px;
    position: relative;
    border: 3px solid #FFF;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
.specials img{
    width: 100%;
    height: 100%;
    transition: 0.7s ease-in-out;
}
.specials a{
    width: 35%;
    text-decoration: none;
    color: #bec5d5;
    background: #171b26;
    position: absolute;
    top: 45%;
    left: 32.5%;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
    transition: 0.7s ease-in-out;
    filter: blur(5px);
    opacity: 0.9;
    font-family: 'Averia Serif Libre', cursive;
}
.specials div:hover{
    border: 3px solid #bec5d5;
}
.specials div:hover a{
    transform: scale(1.7);
    transform: rotate(720deg);
    background: #000;
    text-shadow: 0 0 10px #FFF;
    filter: blur(0);
}
.specials div:hover img{
    filter: blur(5px);
}
/* specials responsive */
@media (max-width: 1200px){
    .specials{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
    }
    .specials div{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 5%;
    }
}
/* footer style */
footer{
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background: #0b0b0b;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px #fff;
}
.media{
    margin-left: 30%;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    box-shadow: 0 5px 10px #FFF;
    color: #0c5e94;
    overflow: hidden;
    position: relative;
    transition: 0.7s ease-in-out;
}
.btn i{
    color: #a5a5a5;
    line-height: 90px;
    font-size: 26px;
    transition: 0.7s ease-in-out;
}
.btn:hover{
    background: transparent;
    transform: rotate(720deg);
    box-shadow: 0 0 0 0 #FFF;
}
.btn:hover i{
    transform: scale(2);
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
}